<%= form_with(model: note, url: pin_note_path(pin, note), method: :patch) do |form| %>
  <%= render partial: "shared/errors_notification", locals: { resource: note } %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
