<%= form_with(model: pin, class: "pin_form") do |form| %>
  <%= render partial: "shared/errors_notification", locals: { resource: pin } %>
  <%= hidden_field_tag :in_frame_mode, in_frame_mode %>

  <div>
    <%= form.label :image, "Upload Image",  style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :image_url, "Image URL: (prefered over uploaded Image)", style: "display: block" %>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_area :link %>
  </div>

  <div>
    <% if in_frame_mode %>
      <%= form.submit %>
      <%= link_to "Cancel", edit_pin_path(pin, cancel_form: true), data: {close_form_target: "button"}, class: "button" %>
    <% else %>
      <%= form.submit "Submit", data: {turbo: "false"} %>
    <% end %>
    <%= link_to "Destroy this pin", pin_path(pin), 
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: "_top" }, 
                class: "button" %>
  </div>
<% end %>
