<div class = "pin_img">
  <div class = "pin_img_inner_container ">

    <%= turbo_frame_tag("pin_img") do %>
      <%= render_full_pin_image(pin) %>
    <% end %>
    <%= render partial: "shared/edit_pin_layout", locals: { pin: pin} %>

    <div class="save-frame">
      <%= turbo_frame_tag("save_unsaved#{dom_id(pin)}") do %>
        <%= render partial: "shared/saved_overlay", locals: { pin: pin } %>
      <% end %>
    </div>
  </div>
</div>