<div class="middle-container">
  <div id="<%= dom_id pin %>" class= "pin_display relative">
    <%= render partial: "pins/pin_image", locals: { pin: pin } %>
    
    <div class = "pin_content pr-2">
      <%= render partial: "pins/pin_details", locals: { pin: pin } %>
      <%= render partial: "pins/creator_info", locals: { pin: pin } %>      
      <%= render partial: "pins/note", locals: {pin: pin, note: note} %>
      <%= render partial: "shared/like", locals: {likeable: pin} %>
      <%= render partial: "pins/comments", locals: { pin: pin } %>
    </div>
  </div>
</div>

<div class="m2 md big">More to explore</div>
<%= turbo_frame_tag "content", src: root_path %>
