<div id="<%= dom_id pin %>">
  <p>
    <strong>Image:</strong>
    <%= link_to image_tag(pin.resize_img(pin.image, 508, 760)), pin.image if pin.image.attached? %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= pin.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pin.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= pin.link %>
  </p>

  <% if pin.board.present? %>
    <p>
      <strong>Board:</strong>
      <%= link_to pin.board.name, user_board_path(pin.board.user, pin.board) %>
    </p>
  <% end %>


  <% if pin.user == current_user %>
    
    <%= render partial: "pins/note", locals: {pin: pin} %>
    <%= turbo_frame_tag "note" %>
  <% end %>
</div>
