<div class = "pin_img">
  <div class = "pin_img_inner_container">

    <%= turbo_frame_tag("pin_img") do %>
      <%= render_pin_image(pin, 508, 760) %>
    <% end %>
    <%= render partial: "shared/edit_pin_layout", locals: { pin: pin} %>

    <div class="save-frame">
      <%= turbo_frame_tag("save_unsaved#{dom_id(pin)}") do %>
        <% been_saved, saved_to = saved_to_board(pin, current_user) %>
        <%= render partial: "shared/saved_pin_form_layout", locals: {pin: pin} unless been_saved %>
        <%= render partial: "shared/unsave_layout", locals: {pin: pin, board_id: saved_to} if been_saved %>
      <% end %>
    </div>
  </div>
</div>