<select name="board_id" id="board_id">
  <% if not new_board_id %>
    <option value="" disabled selected>Unorganized Ideas</option>
  <% else %>
    <option value="" disabled >Unorganized Ideas</option>
    <option value=<%= new_board_id %> selected><%= new_board_name %></option>
  <% end %>
  <% open_boards.each do |name, id| %>
    <option value=<%= id %>>
      <%= name %>
    </option>
  <% end %>
  <% closed_boards.each do |name, id| %>
    <option value=<%= id %> disabled>
      <%= name.truncate(20) %>: Copied here already
    </option>
  <% end %>
</select>