<div class="middle-container">
  <div>
    <h1>Editing pin</h1>
    <% if @cancel_form %>
      <%= turbo_frame_tag [dom_id(@pin), "edit_layout"] %>
    <% else %>
      <%= turbo_frame_tag [dom_id(@pin), "edit_layout"] do %>
        <%= render partial: "pins/edit_form", locals: {pin: @pin, in_frame_mode: @in_frame_mode} %>
      <% end %>
    <% end %>
  
    <br>
  
    <div>
      <%= link_to "Show this pin", @pin %> |
      <%= link_to "Back to pins", pins_path %>
    </div>
  </div>
</div>
