<p style="color: green"><%= notice %></p>

<%= render partial: "pins/pin", locals: {pin: @pin, note: @note} %>

<div>
  <%= link_to "Edit this pin", edit_pin_path(@pin) %> |
  <%= link_to "Back to pins", pins_path %>

  <%= button_to "Destroy this pin", @pin, method: :delete %>
</div>
