<%= turbo_frame_tag("#{dom_id(comment)}_body") do %>
  <div class="bg-light-gray p-2 rounded-lg inline-block max-w-full">
    <div>
      <%= link_to user_path(comment.user), data: {turbo_frame: "_top"} do %>
        <strong><%= comment.user.email.truncate(20) %></strong>
      <% end %>
    </div>
    
    <%= turbo_frame_tag("#{dom_id(comment)}_body_content") do %>
      <div class="break-words text-wrap max-w-full">
        <%= comment.body.strip %>
      </div>
    <% end %>    
  </div>
<% end %>