<%= turbo_frame_tag(form_id(comment)) do %>
  <%# If cancel_form is true, only render the turbo_frame aka remove the form with only the frame, else render the form %>
  <% unless cancel_form %>
    <%= form_with(model: [pin, comment] ) do |form| %>
      <%= render partial: "shared/errors_notification", locals: { resource: comment } %>
      <%= form.hidden_field :parent_id, value: comment.parent_id %>

      <div class="relative">
        <% placeholder = comment.parent_id ? "Reply" : "Add a comment" %>
        <%= form.text_area :body, placeholder: placeholder, class: "in-comments-section" %>

        <button class="send-button">
          <i class="fa-brands fa-telegram fa-2xl"></i>
        </button>

        <%# Dont show the Cancel button on the default "add comment" window %>
      </div>
      <%= cancel_button_for_new_comment(defined?(not_show_cancel_button), pin, comment) %>
    <% end %>
  <% end %>
<% end %>