<% form_id = "form_comment_#{comment.parent_id ? comment.parent_id : comment.id}" %>
<%= turbo_frame_tag(form_id) do %>
  <% unless cancel_form %>
    <%= form_with(model: [pin, comment] ) do |form| %>
      <%= render partial: "shared/errors_notification", locals: { resource: comment } %>
    
      <div>
        <% placeholder = comment.parent_id ? "Reply" : "Add a comment" %>
        <%= form.text_area :body, placeholder: placeholder %>
      </div>
    
      <div>
        <%= form.hidden_field :parent_id, value: comment.parent_id %>
      </div>
    
      <div>
        <%= form.submit "Send" %>
        <% unless defined?(not_show_cancel_button) %>
          <%= link_to 'Cancel', new_pin_comment_path(pin, parent_id: comment.parent_id, cancel_form: true) %>
        <% end %>
      </div>
      
    <% end %>
  <% end %>
<% end %>