
<%= turbo_frame_tag("#{dom_id(@comment)}_body_content") do %>
  <% if @cancel_form %>
    <%# render the original comment body %>
    <%= @comment.body.strip %>
  <% else %>
    <%= form_with(model: [@pin, @comment]) do |form| %>
      <%= render partial: "shared/errors_notification", locals: { resource: @comment } %>

      <div>
        <%= form.text_area :body %>
      </div>

      <div>
        <%= form.submit "Save" %>
        <%= link_to 'Cancel', edit_pin_comment_path(@pin, @comment, cancel_form: true) %>
      </div>
    <% end %>
  <% end %>
<% end %>
