<%= turbo_frame_tag(dom_id(comment)) do %>
  <div class="left-padding-1rem">
    <%= turbo_frame_tag("#{dom_id(comment)}_body") do %>
      <div class="comment-body">
        <%= link_to user_path(comment.user), data: {turbo_frame: "_top"}, class: "align-items-center" do %>
          <%= render partial: "shared/user_avatar", locals: {user: comment.user, size: 32} %>
          <strong><%= comment.user.email.truncate(15) %></strong>
        <% end %>
        <%= comment.body.strip %>
      </div>
    <% end %>

    <%# Like a comment %>
    <div class="one-line-container left-padding-1rem">
      <div>
        <%= turbo_frame_tag("like_frame_#{dom_id(comment)}") do %>
          <div class="one-line-container">
            <%= render partial: 'likes/like_icon', locals: {likeable: comment} %>
            <%= render partial: 'likes/like_count', locals: {likeable: comment} %>
          </div>
        <% end %>
      </div>
      <%= link_to "Reply", new_pin_comment_path(pin, parent_id: comment.id), data: {turbo_frame: "#{dom_id(comment)}_new_reply"}, class: "bold blur" %>
      <% if comment.user == current_user %>
        <%= link_to "Edit", edit_pin_comment_path(pin, comment), data: {turbo_frame: "#{dom_id(comment)}_body"}, class: "bold blur" %>
        <%= link_to "Delete", pin_comment_path(pin, comment), data: {turbo_method: :delete, turbo_comfirm: "Are you sure?"}, class: "bold blur" %>
      <% end %>
    </div>


    <%= turbo_frame_tag("#{dom_id(comment)}_new_reply") %>

    <%= turbo_frame_tag("#{dom_id(comment)}_show_replies") do %>
      <% count = comment.replies.count%>
      <% if count > 0 %>
        <%# this only show the newest reply, click link below to view all replies %>
        <% if count > 1 %>
          <div class="left-padding-1rem"><%= link_to "__ View full #{pluralize(count, "reply")}", pin_comment_path(pin, comment) %></div>
        <% end %>
        <%# show the newsest reply %>
        <%= render partial: "shared/comment_short", locals: {pin: pin, comment: comment.replies.newest_reply} %>
      <% end %>
    <% end %>
  </div>
<% end %>