<%= turbo_frame_tag(dom_id(comment)) do %>
  <div class="flex gap-2">
    <%= render partial: "shared/visit_user_via_avatar", locals: {user: comment.user, size: 32} %>
    <div class="min-w-0">
      <%= render partial: "comments/comment_body", locals: { comment: comment } %>

      <div class="flex gap-2 items-center px-2 pb-2">
        <%= render partial: "shared/like", locals: {likeable: comment} %>
        <%= link_to "Reply", new_pin_comment_path(pin, parent_id: comment.id), data: {turbo_frame: "#{dom_id(comment)}_new_reply"}, class: "bold blur" %>
        <%= render partial: "comments/edit_comment_frame", locals: {comment: comment, pin: pin} %>
      </div>

      <%= turbo_frame_tag("#{dom_id(comment)}_new_reply") %>

      <%# initially show only the newest reply if has a lots of replies %>
      <%= render partial: "comments/replies", locals: {comment: comment, pin: pin} %>
    </div>
  </div>
<% end %>