<% return unless pin.image? %>

<div class="relative-container">
  <% frame_tag_id = create_frame_tag_id(defined?(saved_pin), pin) %>
  <%= turbo_frame_tag(frame_tag_id) do %>
    <div class="box">
      <div class="pin-thumbnail">
        <%= render_pin_thumbnail(pin, 236, 760) %>
      </div>

      <%= turbo_frame_tag(dom_id(pin)) do %>
        <%= render partial: "shared/saved_overlay", locals: { pin: pin } unless defined?(saved_pin) %>
        <%= render partial: "shared/edit_saved_pin_layout", locals: {pin: pin, saved_pin: saved_pin} if defined?(saved_pin) %>
      <% end %>  
    </div>
  <% end %>
  
  <%= render partial: "shared/edit_pin_layout", locals: {pin: pin} if defined?(edit_pin) %>
</div>

  