<div class="middle-container">
  <div>
    <div class="information">
      <%= link_to user_profile_path(user, user.profile) do %>
        <%= render partial: "shared/user_avatar", locals: {user: user, size: 128} %>
      <% end %>
      <%= render partial: "users/creator_info", locals: {user: user} %>
      <%= render partial: "shared/follow_user", locals: {user: user} %>
    </div>
    
    <%= render partial: "shared/created_saved_navigation", locals: { user: user } %>    
  </div>
</div>