<div class="middle-container">
  <div>
    <div class="information">
      <% if user.profile.avatar.present? %>
        <%= link_to user_profile_path(user, user.profile) do %>
          <div class="circular-image"><%= image_tag(user.resize_img(user.profile.avatar, 128, 500)) %></div>
        <% end %>
      <% else %>
        <% text = user == current_user ? "About yourself" : "About user" %>
        <div><%= link_to text, user_profile_path(user, user.profile) %></div>
      <% end %>
      <%= render partial: "users/creator_info", locals: {user: user} %>
      <div class="follow-button">
        <% if current_user != user %>
          <% followed = current_user.followings.find_by(id: user.id) %>
          <% if followed %>
            <%= render partial: "follows/follow", locals: {user: user} %>
          <% end %>
          <% if not followed %>
            <%= render partial: "follows/following", locals: {user: user} %>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="middle-nav">
      <div class="middle-one-line-container">
        <div class="m1 big border-bottom"><%= link_to "Created", user__created_index_path(@user), "data-navigate-target": "navButton"  %></div>
        <div class="m1 big border-bottom"><%= link_to "Saved", user__saved_index_path(@user), "data-navigate-target": "navButton"  %></div>
      </div>
    </div>
  </div>
</div>