<div id="<%= dom_id(pin) %>_save_pin_form_mini">
  <div class="bottom-left">
    <%= form_with model: [pin, pin.saved_pins.build] do |f| %>
      <%= f.submit "Save", class: "save-button" %>
    <% end %>
  </div>
  
  <div class="top-left">
    <%= link_to new_pin_saved_pin_path(pin), class: "bold white button", data: { turbo_frame: "#{dom_id(pin)}_new_saved_pin" } do %>
      <span>Choose Board</span> <i class="fa-solid fa-circle-chevron-down"></i>
    <% end %>
  </div>
  <%= turbo_frame_tag("#{dom_id(pin)}_new_saved_pin") %>
</div>
