<div class="board_box" id="<%= dom_id(board) %>">
  <%= link_to user_board_path(user, board), data: { turbo_frame: "_top" } do %>
    <div class="box">
      <div class="board-cover">
        <%= render_board_thumbnail_image(board) %>
      </div>

      <div class="bold"><%= truncated_board_name(board.name, 17) %></div>
      <div><%= board_basic_detail(board) %></div>
    </div>
  <% end %>
</div>