<%= render partial: "shared/profile", locals: { user: @user } %>

<%= turbo_frame_tag "content" do %>
  <div class="my-4 text-center big">All boards</div>

  <div class="my-4 text-center">
    <%= display_when_user_has_no_boards(@user) if @boards.size == 0 %>
  </div>

  <div id="all-boards">
    <%= render partial: "shared/all_boards", locals: {boards: @boards, user: @user} %>
  </div>
  <hr>

  <div class="text-center big my-4">Unorganized Ideas</div>

  <div class="container">
    <%= show_pin_or_saved_pin(@unorganized_saved_pins) %>
  </div>

  <% if @user == current_user && @unorganized_saved_pins.size == 0 && @boards.size == 0 %>
    <div class="my-4 text-center">
      <div>You haven't saved any pin yet.</div>
      <div><%= link_to "Browse for Ideas", root_path, data: {turbo_frame: "_top"} %></div>
    </div>
  <% end %>
<% end %>
