<div class="middle-container">
  <div>
    <h2>Log in</h2>
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
  
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
  
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
  
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  
    <br>
    <hr>
    <br>

    <%= link_to "Login as demo_user_1",
                user_session_path(user: {email: "demo1@example.com", password: "demo1@example"}),
                data: { turbo_method: :post },
                class: "button" %>
    <br>
    <%= link_to "Login as demo_user_2",
                user_session_path(user: {email: "demo2@example.com", password: "demo2@example"}),
                data: { turbo_method: :post },
                class: "button" %>
    <br>
    <%= link_to "Login as demo_user_3",
                user_session_path(user: {email: "demo3@example.com", password: "demo3@example"}),
                data: { turbo_method: :post },
                class: "button" %>

  </div>
</div>