<div id="<%= dom_id board %>">
  <div class="middle-container">
    <%= link_to image_tag(board.resize_img(board.cover, 300, 300), class: "board-img"), board.cover if board.cover.attached?  %>
  </div>

  <p>
    <div><strong>Name: <%= board.name %></strong></div>
    <div><strong>Description:</strong> <%= board.description %></div>
    <% if current_user == @board.user %>
      <div><%= render partial: "boards/privacy_change", locals: { board: board } %></div>
    <% end %>
  </p>
</div>
