<div id="<%= dom_id board %>">
  <div class="middle-container">
    <%= render_board_image(board) %>
  </div>

  <div>
    <strong>Name: <%= board.name %></strong><br>
    <strong>Description:</strong> <%= board.description %>
    <% if can_edit_board?(board) %>
      <%= render partial: "boards/privacy_change", locals: { board: board } %>
    <% end %>
  </div>
</div>


