<div id="<%= dom_id board %>">
  <p>
    <%= link_to image_tag(board.resize_img(board.cover, 300, 300)), board.cover if board.cover.attached? do %>
      <%= %>
    <% end %>
  </p>

  <p>
    <div><strong>Name: <%= board.name %></strong></div>
    <div><strong>Description:</strong> <%= board.description %></div>
    <div><%= render partial: "boards/privacy_change", locals: { board: board } %></div>
  </p>
</div>
