<div>
  <%= link_to "Edit this board", edit_user_board_path(current_user, @board) %> |
  <%= link_to "Board & Saved Pins", user__saved_index_path(current_user) %>
  <%= button_to "Destroy this board", user_board_path(current_user, @board), method: :delete %>
</div>
<%= render @board %>

<%= render partial: "shared/show_saved_pins", locals: {saved_pins: @saved_pins} %>