<%= form_with(model: [pin, saved_pin], method: :patch) do |form| %>
  <%= render partial: "shared/errors_notification", locals: { resource: saved_pin } %>

  <%= render partial: "shared/select_a_board", locals: {pin: pin} %>

  <div>
    <%= form.submit "Save" %>
    <%= link_to "Cancel", edit_pin_saved_pin_path(pin, saved_pin, cancel_form:true), data: {close_form_target: "button"} %>
  </div>
<% end %>
<%= button_to "Delete", pin_saved_pin_path(pin, saved_pin), method: :delete %>

