<%= form_with(model: [pin, saved_pin], method: :patch) do |form| %>
  <% if saved_pin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(saved_pin.errors.count, "error") %> prohibited this saved_pin from being saved:</h2>

      <ul>
        <% saved_pin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "shared/select_a_board", locals: {pin: pin} %>

  <div>
    <%= form.submit "Save" %>
    <%= link_to "Cancel", edit_pin_saved_pin_path(pin, saved_pin, cancel_form:true) %>
  </div>
<% end %>
<%= button_to "Delete", pin_saved_pin_path(pin, saved_pin), method: :delete %>

