<%= turbo_frame_tag "profile-frame-info" do %>

  <%= form_with(model: [@user, @profile]) do |form| %>
    <%= render partial: "shared/errors_notification", locals: { resource: @profile } %>

    <div>
      <%= form.label :avatar_url, "Avatar URL (recommended over uploaded avatar)", style: "display: block" %>
      <%= form.text_field :avatar_url %>
    </div>

    <div>
      <%= form.label :avatar, "Upload Avatar (optional)", style: "display: block" %>
      <%= form.file_field :avatar %>
    </div>
    

    <div>
      <%= form.label :username, style: "display: block" %>
      <%= form.text_field :username %>
    </div>

    <div>
      <%= form.label :about, style: "display: block" %>
      <%= form.text_area :about %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
