<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="navigate" data-navigate-target="link" data-path=<%= request.fullpath %>>
    <header>
      <nav>
        <% if user_signed_in? %>
          <%= link_to "Home ", root_path, class: "big", "data-navigate-target": "navButton" %>
          <%= link_to "Create Pin ", new_pin_path, class: "big", "data-navigate-target": "navButton" %>
          <%= link_to "Create Board ", new_user_board_path(current_user), class: "big", "data-navigate-target": "navButton" %>
          <%= link_to "Profile ", user_path(current_user), class: "big", "data-navigate-target": "navButton" %>
          <%= link_to "Log out ", destroy_user_session_path, data: {turbo_method: :delete}, class: "big right-side" %>
        <% else %>
          <p><%= link_to "Sign in ", new_user_session_path, class: "big" %></p>
          <p><%= link_to "Sign up", new_user_registration_path, class: "big" %></p>
        <% end %>
      </nav>
    </header>
    <main>
      <div>
        <div>
          <%= render partial: "shared/flash" %>
          <%= yield %>
        </div>
      </div>
    </main>
    <footer>
      <br>
      <hr>
      <p>&copy; <%= Time.now.year %> Thai Bui Hoang. Source Code on Github: 
        <a href="https://github.com/thaibhoang/pinterest" target="_blank">https://github.com/thaibhoang/pinterest</a>
      </p>
    </footer>
  </body>
</html>
