<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to "Home ", root_path, class: "big logo" %>
      <input type="checkbox" id="check"></input>
      <label for="check" class="icons">
        <i class="fa-sharp fa-solid fa-bars fa-2xl" id="icon__menu"></i>
        <i class="fa-sharp fa-solid fa-xmark fa-2xl" id="icon__close"></i>  
      </label>
      <% if user_signed_in? %>
        <nav class="navbar">
          <%= link_to "New Pin ", new_pin_path, class: "big", style: "--i:0" %>
          <%= link_to "New Board ", new_user_board_path(current_user), class: "big", style: "--i:1" %>
          <%= link_to "Pins ", user_path(current_user), class: "big", style: "--i:2" %>
          <%= link_to "Boards ", user__saved_index_path(current_user), class: "big", style: "--i:3" %>
        </nav>
        <%= link_to user_path(current_user), class: "header__user" do %>
          <%= render partial: "shared/user_avatar", locals: {user: current_user, size: 48} %>
        <% end %>
      <% else %>
        <nav class="navbar">
          <%= link_to "Sign in ", new_user_session_path, class: "big" %>
          <%= link_to "Sign up", new_user_registration_path, class: "big" %>
        </nav>
      <% end %>
    </header>
    <main>
      <div>
        <div>
          <%= render partial: "shared/flash" %>
          <%= yield %>
        </div>
      </div>
    </main>
    <footer>
      <br>
      <hr>
      <p>&copy; <%= Time.now.year %> Thai Bui Hoang. Source Code on Github: 
        <a href="https://github.com/thaibhoang/pinterest" target="_blank">https://github.com/thaibhoang/pinterest</a>
      </p>
    </footer>
  </body>
</html>
